---
import { ViewTransitions } from "astro:transitions";
import siteData from "../../configs/siteConfig.json"
import InlineScipts from "../common/InlineScripts.astro"
interface Props {
	title?: string;
	description?: string;
	image?: string;
}

// const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = '/blog-placeholder-1.jpg' } = Astro.props;
import '../../styles/global.css';
---
<head>
	<ViewTransitions />
	<!-- Global Metadata -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />

	<!-- Canonical URL -->
	<!-- <link rel="canonical" href={canonicalURL} /> -->

	<!-- Primary Meta Tags -->
	<title>{siteData.site.siteTitle}</title>
	<meta name="title" content={siteData.site.siteDescription} />
	<meta name="description" content={siteData.site.siteDescription} />

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content={Astro.url} />
	<meta property="og:title" content={siteData.site.siteTitle} />
	<meta property="og:description" content={siteData.site.siteDescription} />
	<meta property="og:image" content={new URL(image, Astro.url)} />

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:url" content={Astro.url} />
	<meta property="twitter:title" content={siteData.site.siteDescription} />
	<meta property="twitter:description" content={siteData.site.siteDescription} />
	<meta property="twitter:image" content={new URL(image, Astro.url)} />
	
	<InlineScipts />
</head>